@charset "utf-8";
/*CSS Document */
body {
  background: hsl(0, 100%, 74%) url(https://raw.githubusercontent.com/ReentertheMatrix/Intro-Component-Sign-Up-Form/fe908b0e5dd2bfe8aaad2a50af1769c228450393/bg-intro-desktop.png) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: Poppins;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
#main {
  display: flex;
  width: 100vw;
  height: 100%;
}
.content {
  max-width: 50%;
  width: 40vw;
  height: 40vh;
  color: white;
  margin: 0px;
  position: relative;
  top: 200px;
  left: 10%;
}
.content h1 {
  /* display: inline-block; */
  font-size: 3.5rem;
  margin: 0px;
  /* line-height: 10px; */
  /* top: 50%; */
}
.content p {
  /* padding: 0px 20px 0px 150px; */
  word-wrap: normal;
  line-height: 28px;
  /* display: inline-block; */
  /* margin: 10px 0px 0px 200px; */

  /* top: 50%; */
}
.right-panel {
  max-width: 50%;
  width: 40vw;
  margin: 0px;
  padding: 100px 0px 0px 0px;
  position: absolute;
  left: 50%;
  justify-content: space-between;
}
.reminder p {
  padding: 20px;
  width: 550px;
  height: 60px;
  color: white;
  background-color: hsl(248, 32%, 49%);
  border-radius: 5px;
  text-align: center;
}
.form {
  /*Form container */
  width: 550px;
  height: 550px;
  background-color: white;
  padding: 25px 25px; /* This why input field are indent*/
  border-radius: 5px;
  margin-top: 20px;
  justify-content: space-around;
}
.form-control input {
  height: 50px;
  width: 100%;
  border-radius: 4px;
  padding: 0px;
  margin-bottom: 10px;
}
.form-control {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  position: relative;
}
.form-control i {
  visibility: visible;
  position: absolute;
  top: 25px;
  right: 10%;
  color: transparent;
}
.form-control.success i.fa-check-circle {
  color: #2ecc71;
}
.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
}
.form-control small {
  visibility: visible;
  position: absolute;
  top: 55px;
  right: 20px;
}
.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}
.form ::placeholder {
  padding: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
.form .button {
  /* margin: 0px 0px 20px 20px; */
  border: 0 solid;
  width: 33.5vw;
  height: 60px;
  margin: 0 20px 0 20px;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  background-color: hsl(154, 59%, 51%);
  display: flex;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}
.form p {
  font-size: 0.8rem;
  align-items: center;
  margin: 20px;
  width: 90%;
  color: grey;
  text-align: center;
}
.form p a {
  color: hsl(0, 100%, 74%);
  font-size: 0.8rem;
}
@media (max-width: 375px) {
  #main {
    display: flex;
    flex-direction: column;
  }
  body {
    background: hsl(0, 100%, 74%) url(https://raw.githubusercontent.com/ReentertheMatrix/Intro-Component-Sign-Up-Form/fe908b0e5dd2bfe8aaad2a50af1769c228450393/bg-intro-mobile.png) no-repeat;
    background-size: cover;
    /* max-width: 100%; */
    /* width:90vw; */
  }
  .content {
    box-sizing: border-box;
    top: 20%;
    left: 5%;
    margin-bottom: 50px;
    max-width: 100%;
    width: 90vw;
    text-align: center;
    justify-content: center;
  }
  .content h1 {
    font-size: 2rem;
    padding: 80px 0px 20px 0px;
    /* width: 100%; */
  }
  .content p {
    padding: 0px;
    flex-wrap: wrap;
  }
  .right-panel {
    position: absolute;
    top: 45%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
  .reminder p {
    width: 300px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-align: center;
    padding: 20px 40px;
  }
  .form {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 70%;
    padding: 10px 10px;
  }
  .form-control {
    margin-bottom: 15px;
    padding: 10px 10px;
  }
  .form input {
    /* box-sizing: border-box; */
    padding: 20px 20px 0 -10px;
    /* max-width: 100%; */
    width: 100%;
    margin: 0px 0px 10px 0px;

    /* position: relative; */
    /* left:0%; */
  }
  .form .button {
    /* align-content: center; */
    /* max-width: 100%; */
    width: 70vw;
    margin: 20px -20px 20px 10px;
    /* height: 100%;
    margin: 0px; */
  }
  i {
    position: absolute;
    left: 210px;
    top: -48px;
  }
}
